body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    width: 500px; /* Set a fixed width for the form container */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 20px;
}
.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #ff9472;
    
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9472;
    ;
}

#confirmationMessage {
    margin-top: 20px;
    text-align: center;
    color: #28a745;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px; /* Set a fixed width for the product container */
    margin-right: 20px;
}

.product-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}